@using OnlineShopMVC.Helpers

   <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
        @Html.Partial("_Logo")
        <ul class="nav navbar-nav">
            <li class="nav-item active waves-effect waves-light">
                @Html.ActionLink("PCs", "Index", "PCs", new { categoryID = 1 }, new { @class= "nav-link waves-effect waves-light"})
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item waves-effect waves-light">
                @Html.ActionLink("Laptops", "Index", "PCs", new { categoryID = 2 }, new { @class = "nav-link waves-effect waves-light" })
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item waves-effect waves-light">
                @Html.ActionLink("Smartphones", "Index", "Smartphones", new { categoryID = 3 }, new { @class = "nav-link waves-effect waves-light" })
            </li>
            &nbsp;&nbsp;&nbsp;
            @if (LoginUserSession.Current.IsAuthenticated)
            {
                <li class="nav-item waves-effect waves-light">
                    @Html.ActionLink("Logout", "Logout", "Home")
                </li>
            }
            else
            {
                <li class="nav-item waves-effect waves-light">
                     @Html.ActionLink("Login", "Login", "Home")
                </li>
            }
            &nbsp;&nbsp;&nbsp;
            @if (!LoginUserSession.Current.IsAuthenticated)
            {
                <li class="nav-item waves-effect waves-light">
                    @Html.ActionLink("Register", "Register", "Home")
                </li>
            }
            </ul>
                &nbsp;&nbsp;&nbsp;
                <form class="searchbar-form form-inline pull-xs-right waves-effect waves-light" method="get" action="@Url.Action("Search","Home")">
                    <input type="text" name="keywords" class="searchbar" placeholder="Search..." style="background-image:url(@Url.Content(@Path.Combine(@Constants.ImagesToolsDirectory, "search-icon.png")))">
                </form>
                &nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("ReturnCart", "Home")">
                    <img src="@Url.Content(@Path.Combine(@Constants.ImagesToolsDirectory,"shopping-cart.png"))" width="50" height="50" />
                </a>
           @if (LoginUserSession.Current.isAdmin)
           {
               <span class="navbar-text" style="color:yellow; font-size:20px">Hello @LoginUserSession.Current.Username </span>
                <ul class="nav navbar-nav"><li class="nav-item active waves-effect waves-light">
                    <li>
                        @Html.ActionLink("Add city","AddCity","Home",null, new { @class = "nav-link waves-effect waves-light admin-item" })         
                    </li>
               </ul>
            }
    </nav>