@using OnlineShopMVC.Helpers
<div>
    @Html.Partial("_Logo")
    @Html.ActionLink("PCs", "Index", "PCs", new { categoryID = 1 },null)
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Laptops", "Index", "PCs",new {categoryID=2},null)
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Smartphones", "Index", "Smartphones",new {categoryID=3},null)
    &nbsp;&nbsp;&nbsp;
    @if (LoginUserSession.Current.IsAuthenticated)
    {
        @Html.ActionLink("Logout", "Logout", "Home")
    }
    else
    {
        @Html.ActionLink("Login", "Login", "Home")
    }
    &nbsp;&nbsp;&nbsp;
    @if (!LoginUserSession.Current.IsAuthenticated)
    {
        @Html.ActionLink("Register", "Register", "Home")
    }
    &nbsp;&nbsp;&nbsp;
    <a href="@Url.Action("Search", "Home")">
        <img src="@Url.Content(@Path.Combine(@Constants.ImagesToolsDirectory,"search-icon.png"))" width="50" height="50"/>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a href="@Url.Action("ReturnCart", "Home")">
        <img src="@Url.Content(@Path.Combine(@Constants.ImagesToolsDirectory,"shopping-cart.png"))" width = "50" height = "50"/>
    </a>
    <span>
        @if (LoginUserSession.Current.IsAuthenticated)
        {
            <span class="navbar-text" style="color:yellow; font-size:20px">Hello @LoginUserSession.Current.Username </span>
        }
    </span>
</div>
