@using OnlineShopMVC.ViewModels
@using OnlineShopMVC.Helpers;
@model SearchViewModel<PCsViewModel>
@{
    ViewBag.Title = "Index";
}
@if (Model.SearchItems.Count==0)
{
    <h2>
        No results found
    </h2>
}
else if (Model.SearchItems[0].CategoryID==1)
{
    <h2>
        PCs
    </h2>
}
else
{
      <h2>
          Laptops
      </h2>
}
@if (LoginUserSession.Current.isAdmin)
{
    <div class="table-actions">
        @Html.ActionLink("Add New Computer", "Edit", "PCs", null, new { @class = "btn btn-primary btn-sm" })
    </div>
}
@using (Html.BeginForm("Index", "PCs", FormMethod.Get))
{
    <text>PC keywords: </text>
    @Html.TextBox("keywords", Request.QueryString["keywords"])
    @Html.Hidden("categoryID", 1)
    <input type="submit" value="Search" />
}
@Html.ActionLink("Name", "Index", new { sortColumn = "Name", direction = Model.LastSortColumn == "Name" && Model.LastSortDirection != "Desc" ? "Desc" : "", Name = Request.QueryString["Name"], categoryID = Request.QueryString["CategoryID"] })
@Html.ActionLink("Price", "Index", new { sortColumn = "Price", direction = Model.LastSortColumn == "Price" && Model.LastSortDirection != "Desc" ? "Desc" : "", Name = Request.QueryString["Price"], categoryID = Request.QueryString["CategoryID"] })
        @foreach (PCsViewModel item in Model.SearchItems)
        {
            
            <table width="100">
                <tr width="30">
                    <td>
                        <a href="@Url.Action("Details","PCs",new RouteValueDictionary(new { id = item.ProductId }))">
                            <img src="@Url.Content(item.ImagePath)" width="150" height="150" />
                        </a>
                    </td>
                    <td>
                        @item.PCsInfo
                    </td>
                    <td style="font-size:30px; color:red;">
                        @item.Price leva
                    </td>
                </tr>
                @if (LoginUserSession.Current.isAdmin)
                {
                    <tr>
                        <td class="cell-small">
                            @Html.ActionLink("Edit", "Edit", "PCs", new { ProductId = item.ProductId }, new { @class = "btn btn-primary btn-sm" })
                        </td>
                        <td class="cell-small">
                            @Html.ActionLink("Delete", "Delete", "PCs", new { id = item.ProductId }, new { onclick = "return confirm('Are you sure you want to delete this item?');", @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </table>
        }