@using OnlineShopMVC.ViewModels
@using OnlineShopMVC.Helpers;
@model List<PCsViewModel>
@{
    ViewBag.Title = "Index";
}
@if (Model[0].CategoryID==1)
{
    <h2>
        PCs
    </h2>
}
else
{
      <h2>
          Laptops
      </h2>
}
@if (LoginUserSession.Current.isAdmin)
{
    <div class="table-actions">
        @Html.ActionLink("Add New Computer", "Edit", "PCs", null, new { @class = "btn btn-primary btn-sm" })
    </div>
}

        @foreach (PCsViewModel item in Model)
        {

            <table width="100">
                <tr width="30">
                    <td>
                        <a href="@Url.Action("Details","PCs",new RouteValueDictionary(new { id = item.ProductId }))">
                            <img src="@Url.Content(item.ImagePath)" width="150" height="150" />
                        </a>
                    </td>
                    <td>
                        @item.PCsInfo
                    </td>
                    <td style="font-size:30px; color:red;">
                        @item.Price leva
                    </td>
                </tr>
                @if (LoginUserSession.Current.isAdmin)
                {
                    <tr>
                        <td class="cell-small">
                            @Html.ActionLink("Edit", "Edit", "PCs", new { ProductId = item.ProductId }, new { @class = "btn btn-primary btn-sm" })
                        </td>
                        <td class="cell-small">
                            @Html.ActionLink("Delete", "Delete", "PCs", new { id = item.ProductId }, new { onclick = "return confirm('Are you sure you want to delete this item?');", @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </table>
        }
